
*{margin: 0%;
padding: 0%;
}
.big-div{
background-color: rgb(99, 216, 177);
display: flex;
align-items: center;
justify-content: center;
height: 100%;
width: 100%;
position: absolute;
}
#center-div{
width: 350px;
height: 500px;
background-color:rgb(7, 249, 168);
border: 2px solid rgb(23, 255, 251);
border-radius: 15px;
padding: 70px;

}

input{
  background: transparent;
  border-radius: 10px;
  border-color: brown;
  border: none;

}
.add{
  display: flex;
  height: 50px;
  margin-top: 50px;
  border-bottom: 3px solid rgb(69, 144, 181);
  border-radius: 5px;
  width: 220px;
  margin-bottom: 25px ;
}
.btn{
  background-color: rgb(101, 182, 253);
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 40px;
  height: 30px;
  margin: 5px;

}

showitem{background-color:rgb(6, 247, 247);
margin-top: 10px;
border-radius: 7px;
padding: 5px;
}

.itemdiv{ background-color: rgb(46, 221, 113);
display: flex;
margin-top: 20px;
padding: 4px;
border-radius: 6px;
}
h3{
width: 180px;
color: rgb(19, 57, 30);
padding: 7px;
margin-left: 10px;
}
.btn:hover{
  background-color: rgb(69, 234, 14);
  width: max-content;
}